body{
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(164, 84, 218);
}
#titulo{

}

#minha_foto{
  width: 500px;
}

#licoes_aprendidas{
  background-color: aqua;
}

#licoes_a_aprender{
  background-color: blue;
}

#artigo{
  background-color: brown;
}

#tabela{
  background-color: chartreuse;
}

#lateral{
  background-color: coral;
}

#rodape{
  background-color: darkgreen;
}



