body{
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(164, 84, 218);
}

#minha_foto{
  width: 500px;
}

#tabela {
  border: 1px solid #000;
}

#tabela tr td {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0px 6px 0px 6px;
}



